@{ 
    Layout = null;
}

@using BugTrackerDTOs
@model IEnumerable<BugReportDto>

<script src="~/Scripts/filter.js"></script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="exampleModalLabel"><h3>Bug Details</h3></h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="bug_name" class="form-control-label">Bug Name</label>
                                <input type="text" class="form-control" id="bug_name" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bug_id" class="form-control-label">Bug ID</label>
                                <input type="text" class="form-control" id="bug_id" value="" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bug_type" class="form-control-label">Bug Type</label>
                                <input type="text" class="form-control" id="bug_type" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="description" class="form-control-label">Description</label>
                            <textarea class="form-control" id="description" disabled></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="priority" class="form-control-label">Priority</label>
                            <input type="text" class="form-control" id="priority" value="" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="severity" class="form-control-label">Severity</label>
                            <input type="text" class="form-control" id="severity" value="" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="current_status" class="form-control-label">Current Status</label>
                            <input type="text" class="form-control" id="current_status" value="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="project_id" class="form-control-label">Project</label>
                            <input type="text" class="form-control" id="project_id" value="" oninput="getProjectID()" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="tester_id" class="form-control-label">Tester</label>
                            <input type="text" class="form-control" id="tester_id" value="" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="developer_id" class="form-control-label">Developer</label>
                            <input type="text" class="form-control" id="developer_id" value="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="project_manager" class="form-control-label">Project Manager</label>
                            <input type="text" class="form-control" id="project_manager" value="" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="file" class="form-control-label">File</label>
                            <input type="text" class="form-control" id="file" value="" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="date" class="form-control-label">Date</label>
                            <input type="text" class="form-control" id="date" value="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="screenshot" class="form-control-label">Screenshot</label>
                            <img class="img-responsive" id="scrImg" src="" alt="image" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="method" class="form-control-label">Method</label>
                            <input type="text" class="form-control" id="method" value="" disabled>
                        </div>
                        <div class="col-sm-2">
                            <label for="file" class="form-control-label">Line</label>
                            <input type="text" class="form-control" id="line" value="" disabled>
                        </div>
                        @{
                            if (ViewBag.Type == "Open")
                            {
                                <div class="col-sm-4">
                                    <label for="developer" class="form-control-label">Developer</label>
                                    <div class="dev_id">
                                        <select class="form-control" name="developer" id="devResult" required>
                                            <!-- <option value="">Select Developer</option> -->
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            }
                            if (ViewBag.Type == "Approve")
                            {
                                <div class="col-sm-4">
                                    <label for="status" class="form-control-label">Status</label>
                                    <div class="stat">
                                        <select class="form-control" name="status" onchange="rejectCheck($(this))">
                                            <option value="">Select status</option>
                                            <option value="Approve Reject">Reject</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            if (ViewBag.Type == "Review")
                            {
                                <div class="col-sm-4">
                                    <label for="status" class="form-control-label">Status</label>
                                    <div class="stat">
                                        <select class="form-control" name="status" onchange="rejectCheck($(this))">
                                            <option value="">Select status</option>
                                            <option value="Review Reject">Reject</option>
                                            <option value="Approve">Request Approval</option>
                                        </select>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row ifReject" style="display: none;">
                        <div class="col-sm-12">
                            <label for="reason" class="form-control-label">Reason</label>
                            <input type="text" class="form-control" id="reason" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary update">Save</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<table class="table table-hover table-responsive" id="dev-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Severity</th>
            <th>Priority</th>
            <th>Project</th>
            <th>Status</th>
            <th></th>
            @{
                if (ViewBag.Type == "Track")
                {
                    <th class="text-center">Edit</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="bug_id">@item.bug_id</td>
                        <td>@item.bug_name</td>
                        <td>@item.bug_type</td>
                        <td>@item.bug_severity</td>
                        <td>@item.bug_priority</td>
                        <td>@item.bug_project_name</td>
                        <td>@item.bug_status</td>
                        <td class="text-center">
                            <button type="button" id="ModalButton" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="@item.bug_id">View More</button>
                        </td>
                        @{
                            if (ViewBag.Type == "Track")
                            {
                                if (item.bug_status == "Open")
                                {
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-primary edit" id="editButton" data-bug="@item.bug_id">Edit Bug Details</button>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">Edit not available</td>
                                }
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    var BugsList = @Html.Raw(Json.Encode(Model));
    $('#exampleModal').on('show.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal
        var BugId = button.data('bug'); // Extract info from data-* attributes
        BugsList.forEach(function(item, index){
            if(item.bug_id == BugId){
                modal.find('#bug_name').val(item.bug_name);
                modal.find('#bug_id').val(item.bug_id);
                modal.find('#bug_type').val(item.bug_type);
                modal.find('#description').val(item.bug_description);
                modal.find('#priority').val(item.bug_priority);
                modal.find('#severity').val(item.bug_severity);
                modal.find('#current_status').val(item.bug_status);
                modal.find('#project_id').val(item.bug_project_name);
                modal.find('#tester_id').val(item.bug_tester_name);
                modal.find('#project_manager').val(item.bug_project_manager_name);
                modal.find('#file').val(item.bug_file);
                console.log(item.bug_date);
                modal.find('#date').val((item.bug_date));
                modal.find('#method').val(item.bug_method);
                modal.find('#line').val(item.bug_line);
                //modal.find("#scrImg").attr("src", '/screenshots/' + item.screenshot);
                if ((item.bug_status == 'Review Reject') || (item.bug_status == 'Approve Reject')) {
                    modal.find('#reason').val(item.reason);
                }
                if (!(item.bug_developer_id)) {
                    modal.find('#developer_id').val("Unassigned");
                }
                else {
                    modal.find('#developer_id').val(item.bug_developer_name);
                }
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetTeamMembers",
                    data: { ProjectId: item.bug_project_id, UserClass: 2 },
                    success: function (data) {
                        data = JSON.parse(data);
                        var TeamList = "<option value=''>Select Developer</option>";
                        if(data != null) {
                            data.forEach(function(item,index) {
                                TeamList += "<option value = '" + item.user_id + "'>" + item.user_name + "</option>";
                            });
                        }
                        console.log(TeamList);
                        $("#devResult").empty().append(TeamList);
                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        });
    });
    $(".update").click(function() {
        if ('@ViewBag.Type' == "Open") {
            var $dev = $(".dev_id").find(":selected").val();
            if(!$dev) {
                alert("Please select a developer");
            }
            else {
                var $bug = $('#bug_id').val();         // Retrieves the text within <td>
                $.ajax({
                    type: "POST",
                    url: "/Admin/AssignDeveloper",
                    data: { DeveloperId: $dev, BugId: $bug },
                    success: function (data) {
                        if(data == "True")
                            alert("Bug assigned to developer successfully!");
                        else
                            alert("An error has occured!");
                        location.reload();
                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        }
        else if('@ViewBag.Type' == "Approve") {
            var $stat = $(".stat").find(":selected").val();
            if(!$stat) {
                alert("Please select a status");
            }
            else {
                var $bug = $('#bug_id').val();         // Retrieves the text within <td>
                if($stat == 'Approve Reject') {
                    var $reason = $("#reason").val();
                    if(!$reason) {
                        alert("Please enter a reason");
                    }
                    else {
                        var $bug = $('#bug_id').val();         // Retrieves the text within <td>
                        $.ajax({
                            type: "POST",
                            url: "/Admin/RejectBugs",
                            data: { RejectReason : $reason, BugStatus : $stat, BugId : $bug },
                            success: function (data) {
                                if(data == "True")
                                    alert("Bug status changed successfully!");
                                else
                                    alert("An error has occured!");
                                location.reload();
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            error: function (data) {
                                alert(data.responseText);
                            }
                        });
                    }
                }
                else {
                    var $bug = $('#bug_id').val();         // Retrieves the text within <td>
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ApproveBugs",
                        data: { BugStatus : $stat, BugId : $bug },
                        success: function (data) {
                            if(data == "True")
                                alert("Bug status changed successfully!");
                            else
                                alert("An error has occured!");
                            location.reload();
                        },
                        failure: function (data) {
                            alert(data.responseText);
                        },
                        error: function (data) {
                            alert(data.responseText);
                        }
                    });
                }
            }
        }
        else if('@ViewBag.Type' == "Review") {
            var $stat = $(".stat").find(":selected").val();
            if(!$stat) {
                alert("Please select status");
            }
            else {
                var $bug = $('#bug_id').val();         // Retrieves the text within <td>
                if($stat == 'Review Reject') {
                    var $reason = $("#reason").val();
                    if(!$reason) {
                        alert("Please enter a reason");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/Tester/RejectBugs",
                            data: { RejectReason : $reason, BugStatus : $stat, BugId : $bug },
                            success: function (data) {
                                if(data == "True")
                                    alert("Bug status changed successfully!");
                                else
                                    alert("An error has occured!");
                                location.reload();
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            error: function (data) {
                                alert(data.responseText);
                            }
                        });
                    }
                }
                else {
                    console.log("Else entered");
                    $.ajax({
                        type: "POST",
                        url: "/Tester/ApproveBugs",
                        data: { BugStatus : $stat, BugId : $bug },
                        success: function (data) {
                            if(data == "True")
                                alert("Bug status changed successfully!");
                            else
                                alert("An error has occured!");
                            location.reload();
                        },
                        failure: function (data) {
                            alert(data.responseText);
                        },
                        error: function (data) {
                            alert(data.responseText);
                        }
                    });
                }
            }
        }
    });
    $("#editButton").click(function() {
        var BugId = $("#editButton").data('bug');
        BugsList.forEach(function(item, index){
            if(item.bug_id == BugId){
                $.ajax({
                    type: "POST",
                    url: "/Tester/EditBugDetails",
                    data: item,
                    success: function (data) {
                        $(".body-content").html(data);
                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        });
    });
    function rejectCheck(that) {
        if ((that.val() == "Review Reject") || (that.val() == "Approve Reject")) {
            $(".ifReject")[0].style.display = "block";
        } else {
            $(".ifReject")[0].style.display = "none";
        }
    }
</script>
